@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://codewithsarath.com" target="_blank">Extended by David Jones from Employee version by Sarath</a>
    </div>
    <div class="top-row px-4">
        <a href="https://davidjones.sportronics.com.au" target="_blank">David Jones' Blog Site</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
