@page "/"
@using BlazorAthleteEFCore.Data
@inject CustomHttpClient<Athlete> Http
@inject AppSettingsService AppSettingsService

<h2>Single Page App in Blazor with EF Core 3.0</h2>

Welcome to Athlete Blazor App.

@code{
    //Needs to set only once:
   

}
